/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "aquila.dtsi"

&default_transform {
        col-offset = <19>;
};

&encoder_1 {
    status = "disabled";
};

&encoder_2 {
    status = "disabled";
};

&sensors {
    status = "disabled";
};
